*{
    cursor: default;
}


body {
    margin: 0px;
    padding:0px;
    height: 100%;
    width:  100%;
    position: absolute;
    overflow: hidden;
    min-width: 500px;

}

.header {
    height: 40px;
    border-bottom: 3px solid gray;
    box-sizing: border-box;
}

.header-name{
    display: inline-block;
    margin-left: 35px;
    margin-top: 7px;
    border-radius: 2px;
}

.header-font{
    font-style: italic;
    font-family: arial, sans-serif;
    font-size: 21px;
    color: gray;
}

.btn {
    background-color: #f7fffe;
    border: 1px solid #999999;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    height: 27px;
    line-height: 27px;
    width: 80px;
    font: arial,sans-serif;
    display: inline-block;
    cursor: pointer;
}

.btn-ok {
    background-color: rgba(127,199,255,1);
    color: #ffffff;
}

.btn:hover {
    border: 1px solid #707070;
}

.btn:active{
    box-shadow:inset 0 0 5px rgba(0,0,0,0.15);

}


.right-block {
    margin: 4px 0px;
    position: absolute;
    right: 0;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    padding-right: 50px;
    background-color: #ffffff;
}

.red{
    color: rgb(255,3,3);;
}

.black{
    color: black;
}

.black-ops {
    font-family: 'black_ops_oneregular';
    display: block;
    float: left;
    font-family: 'black_ops_oneregular';
    font-size: 26px;
    margin-top: 6px;
}

@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot');
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.ttf') format('truetype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.svg#black_ops_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form {
    width: 400px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.075);
}

.form .caption{
    height: 40px;
    line-height: 40px;
    background-color: rgba(247,247,247,1);
    border-radius: 5px 5px 0px 0px;
    border-bottom: inherit;
}

.caption h1 {
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    text-shadow: 0 -2px 0 white;
    font-family: sans-serif;
}

.form-row{
    margin: 15px 20px;
    font-family: sans-serif;
    font-size: 13px;
}

.form-row input {
    border: 1px solid darkgray;
    margin: 5px 0px;
    padding: 5px 7px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    height: 17px;
    line-height: 17px;
    width: 95%;
    font-size: 100%;
}

.form-row input:focus {
    outline: none;
    border: 1px solid rgba(127,199,255,1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(127,199,255,1);
}

.logo {
    background: url('../../images/yandexlogo.png');
    float: left;
    position: relative;
    width: 90px;
    height: 22px;
    background-size: 100%100%;
    margin: 8px 10px;
}



.footer {
    position: relative;
    top: 293px;
    width: 60%;
    margin: auto;
    text-align: center;
    border-top: 1px solid darkgray;
    line-height: 50px;
    height: 50px;
    color: darkgray;
    font-family: sans-serif;
    font-size: 13px;
}

.footer.reg{
    top: 80px;
}

.error {
    font-weight: bold;
}

input.error{
    font-weight: normal;
}

input.success{
}


.global-error {
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
}

