.error-wrapper{
    position: absolute;
    top: 0; left:0; bottom: 0; right: 0;
    margin: auto;
    height: 200px;
    text-align: center;
    font-family: Arial;
}

.error {
    color: Red;
    font-size: 120px;

}

.mess {
    font-size: 40px;
    font-family: Times New Roman
}