


* {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

body {
    margin: 0px;
    padding:0px;
    height: 100%;
    width:  100%;
    position: absolute;
    overflow: hidden;
    min-width: 600px;
    min-height: 200px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

input[type="text"]{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
}


input[type="text"]:focus {
    outline: none;
}



@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot');
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.ttf') format('truetype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.svg#black_ops_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.red{
    color:red;
}

.black{
    color: black;
}

.black-ops {
    font-family: 'black_ops_oneregular';
}


.header {
    height: 40px;
    border-bottom: 3px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.to-site {
    height: 100%;
    width: 30px;
    border-right: 1px dashed darkgray;
    float:left;
    background: url(../../images/to_site.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;
}

.to-site:hover{
    opacity: 1;
}




.property-block .back-btn {
    height: 100%;
    width: 30px;
    border-right: 1px dashed darkgray;
    float:left;
    opacity: 0.5;
    background: url(../../images/back.png) no-repeat center;
    margin-right: 5px;
    cursor: pointer;
}

.back-btn:hover{
    opacity: 1;
}

.header-name{
    display: inline-block;
    margin-left: 35px;
    margin-top: 7px;
    border-radius: 2px;
}

.header-name:hover {
    background-color: rgba(127,199,255,1);
    cursor:pointer;
}

.header-font{
    font-style: italic;
    font-family: arial, sans-serif;
    font-size: 21px;
    color: gray;
}

.header-user {
    margin-left: 5px;
    font-size: 15px;
}


.presentation-name {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
}


.popup {
    width: 300px;
    height: 150px;
    position: absolute;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: 0px 0px 9px #000000;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;

    font-family: 'Times New Roman', Times, serif;
}

.popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127,199,255,0.3);
    z-index: 4;
}

.popup-close {
    opacity: 0.7;
    cursor: pointer;
    height: 11px;
    width: 11px;
    padding: 15px;
    background: url("../../images/close-x.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
}

.popup-close:hover {
    opacity: 1;
}

.popup-title {
    line-height: 15px;
    margin: 20px 0px;
    font: normal 18px arial,sans-serif;
}

.popup-message {
    margin: 0px;
    font: normal 13px arial,sans-serif;
}

.popup-input {
    margin: 10px 0px;
    width: 250px;
}

.btn {
    background-color: #f7fffe;
    border: 1px solid #999999;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    height: 27px;
    line-height: 27px;
    width: 80px;
    font: arial,sans-serif;
    display: inline-block;
    cursor: default;
}

.btn-ok {
    background-color: rgba(127,199,255,1);
    color: #ffffff;
}

.btn:hover {

    border: 1px solid #707070;
}



.btn:hover .btn-access{
    opacity: 1;
}

.btn:not(.btn-ok):hover .btn-img{
    opacity: 0.7;
}

.access {
    width: 130px;
}



.btn-ok:hover {
    background-color: rgba(127,199,255,1);
}



.popup-button ~ .popup-button {
    margin-left: 20px;
}


.btn-img {
    opacity: 0.5;
    display: inline-block;
    width: 21px;
    margin: 0 2px 0 -2px;
}

.btn-play {
    background: url("../../images/present.png") no-repeat 50% 50%;
}

.btn-add {
    background: url("../../images/add.png") no-repeat 50% 50%;
}

.btn-save {
    background: url("../../images/document_save.png") no-repeat 50% 50%;
    background-size: 95%;
}

.access-private {
    opacity: 1;
    background: url("../../images/lock.png") no-repeat 50% 50%;
    background-size: 95%;
}

.access-public {
    opacity: 1;
    background: url("../../images/unlock.png") no-repeat 50% 50%;
    background-size: 95%;
}

.right-block {
    margin: 4px 0px;
    position: absolute;
    right: 0;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    padding-right: 58px;
    background-color: #ffffff;
}

.property-block {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    width: 250px;
    border-right: 1px solid darkgray;
    transition: opacity 1s ease-out;
}


.preview-block {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    border-left: 1px solid darkgray;
    overflow-y: scroll;
    box-sizing: border-box;
    -moz-box-sizing: border-box;


}

.add-slide {
    display: inline-block;
    position: absolute;
    top: 40px;
    height: 60px;
    width: 200px;
    right: 0px;
    border-left: 1px solid darkgray;
    border-bottom: 1px dashed darkgray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.add-slide .btn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preview {
    width: 160px;
    height: 120px;
    margin: 0px 10px;
    position: relative;
}


.preview-block .separator{
    position: relative;
    height: 3px;
    width: 130px;
    background: black;
    margin: 8px 30px 5px 30px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.preview-block .separator.showed{
    opacity: 1;
}


.preview-block .separator.hided{
    opacity: 0;
}


.previewImageSelected {
    border: 1px solid gray;
    -moz-box-shadow: 0px 0px 13px #000000;
    -webkit-box-shadow: 0px 0px 13px #000000;
    box-shadow: 0px 0px 13px #000000;

}



.preview-image {
    height: 100%;
    margin-left: 15px;
    width: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    border: 1px solid darkgray;
}
.preview-index {
    display: inline-block;
    position: absolute;
}



#presentation-canvas {
    border: 1px solid black;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 450px;
    width: 600px;
}

.canvas-container {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}


.popup-overlay.slide-size{
    background: rgba(127,199,255,1);

}

.popup.slide-size{
    height: 100px;
}

.btn.slide-size {
    margin-right: 5px;
}





.property-slide {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}


.main-block {
    opacity: 1;
    z-index: 2;
    transition: opacity 1s ease-out;
}

.edit-text-block{
    transition: opacity 1s ease-out;
}

.edit-background-block {
    transition: opacity 1s ease-out;
}

.edit-presentation-block {
    transition: opacity 1s ease-out;
}

.edit-image-block {
    transition: opacity 1s ease-out;
}


.add-item-block{
    padding: 0px 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    cursor: pointer;
    background: url("../../images/link.png") no-repeat;
    background-position: 90% 40%;

}


.add-item-block *{
    cursor: pointer;
}

.add-item-block:hover {
    background-color: rgba(127,199,255,1);
}


.add-icon-text {
    display: inline-block;
    width: 20px;
    background: url("../../images/text.png");
    background-repeat: no-repeat;
    background-position: 50% 47%;
    margin-right: 10px;

}

.add-icon-slide {
    background: url("../../images/slide.png") no-repeat;
    background-position: 50% 47%;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
}

.add-icon-image {
    display: inline-block;
    width: 20px;
    background: url("../../images/addImage.png");
    background-repeat: no-repeat;
    background-position: 50% 47%;
    margin-right: 10px;
}

.add-icon-color {
    display: inline-block;
    width: 20px;
    background: url("../../images/color_swatch.png");
    background-repeat: no-repeat;
    background-position: 50% 47%;
    margin-right: 10px;
}

.add-icon-bckgr {
    display: inline-block;
    width: 20px;
    background: url("../../images/bckr.png");
    background-repeat: no-repeat;

    background-position: 40% 47%;
    margin-right: 10px;
}

.add-icon-sett {
    display: inline-block;
    width: 20px;
    background: url("../../images/settings.png");
    background-repeat: no-repeat;
    background-position: 50% 47%;
    margin-right: 10px;
    background-size: 80%;
}

#wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
    position: absolute;
}

#fake_wrap {
    position: absolute;
    right:  100500px;
}

.slide-delete {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0px;
    top: 1px;
    background: url("../../images/notifier_close.gif") no-repeat 50% 50%;
    background-color: black;
    opacity: 0.3;
    border-radius: 2px;
}

.slide-delete:hover {
    opacity: 0.7;
    cursor: pointer;
}

.edit-text-area {
    resize: none;
    margin: 12px 12px 0px 12px;
    border-radius: 2px;
}

.play-overlay {
    background-color: #000000;
    display: block;
    z-index: -5;
    opacity: 0;
}

.play-area {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.play-navbar {
    width: 143px;
    height: 25px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    background-color: #222;
    padding: 0px 5px;
    transition: opacity 1s ease-out;
}

.play-navbar-item{
    margin: 2px;
    display: inline-block;
    width: 21px;
    height: 21px;
    opacity: 0.5;
}

.play-navbar-item.not-enabled{
    opacity: 0.2;
}

.play-navbar-item:hover{
    opacity: 0.9;
    cursor: pointer;
}

.play-navbar-item.not-enabled:hover{
    opacity: 0.2;
    cursor: default;
}

.play-navbar-item.prev {
    background: url("../../images/navbarPrev.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.play-navbar-item.played {
    background: url("../../images/navbarPause.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.play-navbar-item.stopped {
    background: url("../../images/navbarPlay.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.play-navbar-item.next {
    background: url("../../images/navbarNext.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.play-navbar-item.close {
    background: url("../../images/navbarClose.png");
    background-size: 90%;
    background-repeat: no-repeat;
}

.play-navbar-item.full {
    background: url("../../images/navbarNotFull.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.play-navbar-item.not-full {
    background: url("../../images/navbarFull.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.property-slide .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid darkgray;
    background-color: rgba(247,247,247,1);
    font-size: 20px;
}

.main-block .title {
    padding: 0 35px;
}

.edit-text-block .title {
    padding: 0px;
}

.property-slide .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid darkgray;
    background-color: rgba(247,247,247,1);
    font-size: 20px;
}

.edit-text-block .title {
    padding: 0px;
}

.main-block {

}



.settings-row {
    margin: 5px 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
    position: relative;

}

.color-combo-box {
    display: inline-block;
    width: 36px;
    height: 25px;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    background: url("../../images/openPopup.png") no-repeat 96% 50%;
    cursor: pointer;
}



.color-combo-box .color-preview {
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
}


.showed-colorpopup {
    display: block;
    z-index: 3;
}

.hided-colorpopup {
    display: none;
    z-index: 2;
}

.color-combo-box .colors-popup {
    position: absolute;
    top: 26px;
    left: -89px;
    width: 175px;
    height: 140px;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: #ffffff;
    line-height: normal;

}

.color-combo-box input {
    display: none;
}

.combo-box-item {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.combo-box-item:hover{
    background-color: rgba(247,247,247,1);
}

.color-item-block{
    width: 13px;
    height: 13px;
    background-color: red;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 3px;
    margin-top: 3px;
}

.color-item-block:hover{
    border: 1px dashed #000000;
}

.colors-popup .color-items {
    padding: 4px;
    font-size: 0;
}




.edit-background-block input {
    display: none;
}

.font-family-combo-box {
    display: inline-block;
    width: 115px;
    height: 25px;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin: 6px 0px 6px 12px;
    position: relative;
    background: url("../../images/openPopup.png") no-repeat 96% 50%;
    cursor: pointer;
    font-size: 12px;
}

.font-family-combo-box .font-family-preview {
    cursor: pointer;
    height: 17px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    line-height: normal;
}

.edit-text-block input {
    display: none;
}

.showed-fontfamilypopup {
    display: block;
    z-index: 3;
}

.hided-fontfamilypopup {
    display: none;
    z-index: 2;
}

.font-family-combo-box .fontfamily-popup {
    position: absolute;
    top: 26px;
    width: 115px;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: #ffffff;
    line-height: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.fontfamily-popup .fontfamily-combobox-item {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.fontfamily-popup .fontfamily-combobox-item:hover {
    background-color: rgba(247,247,247,1);
}

.fontfamily-popup .fontfamily-combobox-item.selected {
    background-color: rgba(127,199,255,1);
}




.font-size-combo-box {
    display: inline-block;
    width: 40px;
    height: 25px;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin: 6px 0px;
    position: relative;
    background: url("../../images/openPopup.png") no-repeat 96% 50%;
    cursor: pointer;
    font-size: 12px;
}


.font-size-combo-box .font-size-preview {
     display: inline-block;
     border: none;
     cursor: text;
     height: 23px;
     width: 25px;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     line-height: normal;
     text-align: center;
 }

.font-size-combo-box:hover .font-size-preview {
    border-right: 1px solid darkgray;
}

.font-size-combo-box .font-size-preview:focus {
    border-right: 1px solid darkgray;
    box-shadow: 0 0 0px rgba(0,0,0,0);;
}

.font-size-combo-box .fontsize-popup {
    position: absolute;
    top: 26px;
    width: 40px;
    height: 252px;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: #ffffff;
    line-height: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.fontsize-popup .fontsize-combobox-item {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.fontsize-popup .fontsize-combobox-item:hover {
    background-color: rgba(247,247,247,1);
}

.fontsize-popup .fontsize-combobox-item.selected {
    background-color: rgba(127,199,255,1);
}

.showedPopup {
    display: block;
    z-index: 3;
}

.hidedPopup {
    display: none;
    z-index: 2;
}

.edit-text-block .settings-row {
    padding: 0;
}

.color-combo-box.item {
    margin: 6px 0px;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
}

.color-combo-box.presentation {
    margin: 6px 0px;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
}

.property-button {
    border-radius: 2px;
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 6px 0px;
    border: 1px solid darkgray;
    position: relative;
}

.property-button .icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.property-button.bold{
    margin-left: 12px;
}

.property-button.bold .icon{
     background: url(../../images/bold.png) no-repeat 50% 50%;
 }

.property-button.italic .icon{
    background: url(../../images/italic.png) no-repeat 45% 48%;
}

.property-button.underline .icon{
    background: url(../../images/underline.png) no-repeat 48% 55%;
}

.property-button:hover .backgr{
    background-color: rgba(247,247,247,1);
}

.property-button input:checked+.backgr{
    background-color: rgba(127,199,255,1);
}

.edit-presentation-block .settings-row {
    padding: 0;
}

.edit-presentation-block input {
    display: none;
}

.edit-presentation-block .font-size-combo-box input {
    display: inline-block;
}

.add-image {
    line-height: normal;
    display: inline-block;
    position: absolute;
    right: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid darkgray;
    width: 80px;
    font-size: 0px;
}

.btn-open {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid darkgray;
    font-size: 13px;
    text-align: center;
}

.add-image .from-url{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 54px;
    height: 18px;
    margin: 0px;
    border: none;
    padding-left: 1px;
}

.add-image .from-url-ok{
    font-size: 13px;
    border-left: 1px solid darkgray;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 20px;
    height: 19px;
    line-height: 19px;
}


.edit-image-block input{
    display: none;
}

.edit-image-block .from-url{
    display: inline-block;
}

.edit-background-block .from-url{
    display: inline-block;
}

.play-navbar.invisible{
    opacity: 0;
}

.play-navbar.visible{
    opacity: 1;
}

.settings-row.pres-backgr {
    margin-left: 12px;
}

.add-image .from-url{
    display: inline-block;
}

.edit-presentation-block .add-image.presentation-backgr {
    right: 30px;
}

.edit-presentation-block .color-combo-box.presentation-backgr{
    right: 30px;
}

textarea {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
}


/* Tablets (landscape) ----------- */
@media only screen and (max-width : 1024px) {
    /* Styles */
    .add-item-block {
        font-size: 13px;
    }
    .property-slide .title{
        font-size: 17px;
    }
    .settings-row {
        font-size: 13px;
    }
}

/* Tablets (portrait) ----------- */
@media only screen and (max-width : 860px) {
    /* Styles */
    .add-item-block {
        font-size: 13px;
    }
    .property-slide .title{
        font-size: 17px;
    }
    .settings-row {
        font-size: 13px;
    }
}

/* Smartphones (landscape & portrait) ----------- */
@media only screen and (max-width : 600px) {
    /* Styles */
    .add-item-block {
        font-size: 13px;
    }
    .property-slide .title{
        font-size: 17px;
    }
    .settings-row {
        font-size: 13px;
    }
}


